body {
	font-family: Verdana, sans-serif;
	padding: 15px;
	background-color: darkred;
	color: white;
  }
  
  input {
	  border-radius: 5px;
	  padding: 5px;
  }
  
  h1 {
	  text-align: center;
	}
	
p {
	text-align: center;
	}

  div.button {
	  text-align: center;
  }
  
  a {
	  text-decoration: none;
	  color: rgb(58, 98, 231);
  }
  
  form { 
	  color: gold;
	  text-align: center;
	  width: 480px; 
	  margin: auto;
	  padding: 5px; 
	  border: solid white 5px;	
	  border-radius: 5px;  
	  box-shadow: 20px 20px 10px black;
  }